In [13]:

import pandas as pd
data = pd.read_csv("./csv/Pandas/data/alquiler.csv", sep=";")
tipo_de_inmueble = data["Tipo"]
# clean duplicates
data_duplicates = tipo_de_inmueble.drop_duplicates()
data_duplicates

0                        Habitación
1                              Casa
2                   Local comercial
3                      Departamento
7                Casa en condominio
16                Edificio completo
17                             Flat
29                     Tienda/Salón
80                          Almacén
83                   Casa comercial
117                   Casa de villa
159                         Terreno
207                         Cochera
347                            Loft
589      Tienda en Centro Comercial
2157                         Chacra
3354          Terreno em condominio
4379                        Oficina
4721                         Chalet
6983                         Studio
9687                          Hotel
23614              Local industrial
Name: Tipo, dtype: object

## Organizndo la visualización

In [15]:
data_duplicates.index

Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,    83,
         117,   159,   207,   347,   589,  2157,  3354,  4379,  4721,  6983,
        9687, 23614],
      dtype='int64')