In [13]:

import pandas as pd
data = pd.read_csv("./csv/Pandas/data/alquiler.csv", sep=";")
tipo_de_inmueble = data["Tipo"]
# clean duplicates
data_duplicates = tipo_de_inmueble.drop_duplicates()
data_duplicates

0                        Habitación
1                              Casa
2                   Local comercial
3                      Departamento
7                Casa en condominio
16                Edificio completo
17                             Flat
29                     Tienda/Salón
80                          Almacén
83                   Casa comercial
117                   Casa de villa
159                         Terreno
207                         Cochera
347                            Loft
589      Tienda en Centro Comercial
2157                         Chacra
3354          Terreno em condominio
4379                        Oficina
4721                         Chalet
6983                         Studio
9687                          Hotel
23614              Local industrial
Name: Tipo, dtype: object

## Organizndo la visualización

In [23]:
data_duplicates = pd.DataFrame(data_duplicates)
# get rows count
data_duplicates.shape[0]
data_duplicates.index = range(data_duplicates.shape[0])
data_duplicates.columns.name = "Id"
data_duplicates

Id                        Tipo
0                   Habitación
1                         Casa
2              Local comercial
3                 Departamento
4           Casa en condominio
5            Edificio completo
6                         Flat
7                 Tienda/Salón
8                      Almacén
9               Casa comercial
10               Casa de villa
11                     Terreno
12                     Cochera
13                        Loft
14  Tienda en Centro Comercial
15                      Chacra
16       Terreno em condominio
17                     Oficina
18                      Chalet
19                      Studio
20                       Hotel
21            Local industrial