In [4]:
import pandas as pd
data = pd.read_csv("./csv/Pandas/data/alquiler.csv", sep=";")
data.head(10)

list(data["Tipo"].drop_duplicates())

residential = ['Habitación',
 'Casa',
 'Departamento',
 'Casa en condominio',
 'Casa comercial',
 'Casa de villa',
 ]

section = data["Tipo"].isin(residential)
data_residential = data[section]
# list(data_residential["Tipo"])
# data shape is reduce
data_residential.shape[0]

data_residential.index = range(data_residential.shape[0])
data_residential

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

## Export data

In [22]:
data_residential.to_csv("alquiler_residencial.csv", sep=";", index=False)
data_residential_2 = pd.read_csv("alquiler_residencial.csv", sep=";")
data_residential_2

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

## Secciones y frecuencias

In [8]:
data_residential_2 = pd.read_csv("alquiler_residencial.csv", sep=";")
# Seleccione solamente los inmuebles clasificados con tipo Departamento
selection = data_residential_2["Tipo"] == "Departamento"
n1 = data_residential_2[selection].shape[0]
n1

# Seleccione los inmuebles clasificados con tipos "Casa" y "Casa en condominio" y "Casa de villa"
selection2 = (data_residential_2["Tipo"] == "Casa") | (data_residential_2["Tipo"] == "Casa en condominio") | (data_residential_2["Tipo"] == "Casa de villa")
n2 = data_residential_2[selection2].shape[0]
n2

# Seleccione los inmuebles con áreas entre 60 y 100 metros cuadrados, incluyendo los limites
selection3 = (data_residential_2["Area"] >= 60) & (data_residential_2["Area"] <= 100)
n3 = data_residential_2[selection3].shape[0]
n3

# Seleccione los inmuebles que contengan por lo menos 4 cuartos y alquiler menor que 2,000.00
selection4 = (data_residential_2["Cuartos"]>=4) & (data_residential_2["Valor"]<2000)
n4 = data_residential_2[selection4].shape[0]
n4

41