In [46]:
import pandas as pd
data = pd.read_csv("./alquiler_residencial.csv", sep=";")
# check is null
data.isnull()
# check is not null
data.notnull()
# check info of null
# data.info()

data[data["Valor"].isnull()]
# delete elements with valor in null
A = data.shape[0]
delete = data.dropna(subset=["Valor"], inplace = True)
B = data.shape[0]

data[data["Valor"].isnull()]

Empty DataFrame
Columns: [Tipo, Distrito, Cuartos, Vacantes, Suites, Area, Valor, Mantenimiento, Impuesto]
Index: []

In [49]:

data[data["Mantenimiento"].isnull()].shape[0]
# Delete if Departamento have Mantenimiento null
selection = (data["Mantenimiento"].isnull()) & (data["Tipo"] == "Departamento")
A = data.shape[0]
data = data[~selection]
B = data.shape[0]
A - B

745

In [56]:
# example fill null
example = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
example_s = pd.Series(example)
example_s.fillna(method="ffill", limit=1) # replace null with first value not null and limit
example_s.fillna(method="bfill") # replace null before value not null
example_s.fillna(example_s.mean()) # replace with mean

# data = data.fillna({"Manteminiento": 0, "Impuesto": 0})

# data[data["Mantenimiento"].isnull()].shape[0]

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64